<div class="jumbotron text-center">
  <h1>Description of Application: </h1>
  <p class="lead">The following web app has been created by Sooruj Ghangass as part of his SE3316 coursework.</p>
    <br>
  <p>
    This web app allows a users to sign up so that they can create collections. Alternatively, unregistered users are able to browse public collections!
    There is a lot of functionality related to the collection objects that registered users can create. A registered user may rate the collection for example. While the collection owner is not
    allowed to rate their own collection, I have allowed them to change visibility settings if they want their collection to be private or public. You are most welcome!
  </p>
    <br>
  <p>
    If you have any negative questions, suggestions, or comments regarding this web app. I would kindly ask that you refrain from sharing them. I don't need that negativity at this time.
    If you like the web app and would like to endorse me on LinkedIn for my sweet development skills, I would kindly ask that you do so 
      <a href="https://www.linkedin.com/in/sooruj-ghangass-894898a9" target="_blank">here</a>
    . Thanks!
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Images</h3>
    <p>Are you looking for top quality images? Good. I have them!</p>
  </div>
  <div class="col-md-4">
    <h3>Collections</h3>
    <p>Are you looking for top quality collections? Good. You can make them!</p>
  </div>
  <div class="col-md-4">
    <h3>Fun</h3>
    <p>Are you looking for top quality fun? That isn't here.</p>
  </div>
</div>