<div *ngIf="myCollections">
  <h2 class="page-header">{{user.name}}</h2><br>
    <div *ngFor="let myCollection of myCollections">
      <a routerLink='/view-collection'>
        View {{myCollection.name}}
      </a>
      <a (click)="setEdit(myCollection)">
        Edit {{myCollection.name}}
      </a>
      <a (click)="delete(myCollection)">
        Delete {{myCollection.name}}
      </a>
    </div>
</div>

<div *ngIf="editCollection">
  <h2 class="page-header">Edit Collection</h2>
  <form (submit)="edit()">
  <div class="form-group">
    <label>Collection Name</label>
    <input type="text" class="form-control" [(ngModel)]="editCollection.name" name="collectionName">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" [(ngModel)]="editCollection.description" name="description">
  </div>
  <label class="switch">Public?
      <input type="checkbox" [(ngModel)]="!editCollection.isPrivate" name ="public">
      <span class="slider round"></span>
  </label>
  <br>
  <input type="submit" class="btn btn-primary" value="Save Changes">
  <input class="btn btn-primary" (click)="clear()" value="Cancel">
  </form>
  
</div>